{
  "extends": ["wesbos"],
  "rules": {
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "tabWidth": 4
      }
    ]
  }
}
