@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #2b283a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #2b283a;
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 0px 2.07958px 4.15917px rgba(0, 0, 0, 0.14),
        0px 2.07958px 2.07958px rgba(0, 0, 0, 0.12),
        0px 2.07958px 4.15917px rgba(0, 0, 0, 0.2);
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
    .glow-white {
      box-shadow: 0px 0px 21.8312px rgba(255, 255, 255, 0.44);
    }
  }
}
